---
import Layout from "../layouts/Layout.astro";
import Portifolio from "../components/Portifolio.astro";
import Sidebar from "../components/Sidebar.astro";
import Experience from "../components/Experience.astro";
import About from "../components/About.astro";
---

<Layout title="Luiz Paulo | Lindennerd">
  <Sidebar />
  <section id="portifolio">
    <Portifolio />
    <Experience />
    <About />
  </section>
</Layout>
