---
import eu from "../images/eu.jpg";
import SectionHeader from "./SectionHeader.astro";
---

<section id="about">
  <SectionHeader 
    title="About me"
    description="A short presentation of myself"
  />
  <div class="flex flex-col items-center justify-center gap-2text-white p-4">
    <div class="flex flex-col sm:flex-row gap-2 items-center justify-center">
      <div class="flex flex-col gap-2">
        <div class="text-3xl font-semibold text-center">
          👋 Hello, I'm Lindennerd
        </div>
        <p class="font-mono text-center">
          The developer behind this portifolio
        </p>
      </div>
    </div>

    <article class="mt-6 w-full space-y-4 text-justify">
      <p>
        I love coding ever since I was a young boy, I always loved to build
        things that others can enjoy, software that make their life better, be
        it because made them laugh, because they had fun using it or just
        because it automated away that awfull boring task.
      </p>
      <p>
        It was because of this passion for technology and its potential that I
        decided to make software development my life's work, my legacy to this
        world.
      </p>
      <p>
        Today, I have more than 10 years of experience working professionally in
        this area and had the opportunity to utilize a vast variety of
        tecnologies, like React, TypeScript, GraphQL, Next.js, Node.js, Express,
        MongoDB, Docker, .Net Core, SQL Server and etc. I'm a natural
        self-learner, eager to explore new tecnologies and put this knowledge to
        use, solving problems and help clients to improve his day-to-day lifes
      </p>
      <p class="text-center font-semibold">
        Feel free to reach me out in my socials 😉
      </p>
    </article>
  </div>
</section>
