---
import SectionHeader from "./SectionHeader.astro"

---

<section id="experience">
    <SectionHeader 
        title="Experience"
        description="This is my formal work experience"
    />
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
    <div>worked at KPMG</div>
</section>