---
import {Icon} from "astro-icon";

---

<footer class="p-8 bg-gray-900 flex flex-col justify-center items-center">
    <div class="flex gap-4 mb-4">
        <a href="https://github.com/Lindennerd/" target="_blank">
            <img src="/github.svg" alt="github logo" class="w-7">
        </a>
        <a href="https://www.linkedin.com/in/luiz-paulo-lindenmaier/" target="_blank">
            <img src="/linkedin.svg" alt="github logo" class="w-6">
        </a>
        <a href="mailto:lindennerd@gmail.com">
            <img src="/email.svg" alt="github logo" class="w-6">
        </a>
    </div>
    <span>Luiz Paulo Lindenmaier da Silva</span>
    <span>2022</span>
</footer>