---
const {title, description} = Astro.props;
---

<header class="p-2 border-b border-gray-900">
    <h1 class="text-cyan-500 text-4xl">{title}</h1>
    <span class="text-gray-500 text-2xl">
      {description}
    </span>
  </header>