---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-slate-800 text-white">
    <div class="flex gap-8 justify-center items-center uppercase p-4">
      <div>Home</div>
      <div>Portifolio</div>
      <div>Experience</div>
    </div>
    <slot />
    <style is:global>
      @import "tailwindcss/base";
      @import "tailwindcss/components";
      @import "tailwindcss/utilities";
    </style>
  </body>
</html>
