body {
  background-color: #eee;
  padding: 0.5em 1em 0em 1em;
}

.photo {
  height: 5em;
  margin-top: 0.5em;
}

.infos li:first-child {
 font-weight: bolder;
 font-size: 18px;
}

li i.material-icons {
  position: relative;
  top: 5px;
  padding-right: 0.5em;
}

