body {
  background-color: #eee;
}

.photo {
  height: 10em;
}

.infos li:first-child {
 font-weight: bolder;
 font-size: 18px;
}

li i.material-icons {
  position: relative;
  top: 5px;
  padding-right: 0.5em;
}

.btn-floating.cv {
  height: 86px;
  width: 86px;
}

.cv > .material-icons {
  line-height: 86px !important;
}

.text-center {
  text-align: center;
}

.area-title {
  display: none;
}

@media only screen and (min-width: 992px) {
  .btn-floating.cv {
    height: 56px;
    width: 56px;
  }
  
  .cv > .material-icons {
    line-height: 56px !important;
  } 
}